.align_middle_img {
    position: relative;
    top: 50%;
    text-align: center;
    align-self: center;
    display: table-cell;
}

.block-left {
    width: 50%;
    float: left;
    text-align: left;
    font-size: 18px;
}

.block-right {
    width: 50%;
    float: left;
    text-align: right;
}

iframe {
    border: 0;
}

.display-image {
    position: relative;
    top: 15%;
    text-align: center;
}

.display-table table {
    width: 70%;
    border-collapse: collapse;
    margin: 40px auto auto;
}

.display-table tr, td {
    font-size: 12px;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.display-table-large table {
    width: 90%;
    border-collapse: collapse;
    margin: 40px auto auto;
}

.display-table-large tr, td {
    font-size: 12px;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.layui-layer-content {
    /*height: 80px !important;*/
}

.pop-table {
    position: relative;
    align-self: center;
    border-spacing: 1px;
    border-collapse: collapse;
}

.popup {
    text-align: center;
    padding-top: 10px;
}

.popup input {
    height: 30px;
}

.popup select {
    width: 174px;
    height: 30px;
}

tr, td {
    font-size: 12px;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

p {
    padding: 5px 0px 5px 0px;
}

.search-bar {
    width: 120px;
    height: 27px;
    border-width: 0 0 1px 0;
    background-color: #f2f2f2;
    border-color: #4E5465;
}

.select-bar {
    width: 80px;
    height: 25px;
    border-width: 0 0 0 0;
    background-color: #f2f2f2;
    border-color: #4E5465;
}